.logo_wrapper{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%; 
}
.title_wrapper{
    text-align: center;
}

.nav_wrapper ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav_wrapper li{
    float: left;
}

.nav_wrapper li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_wrapper li a:hover {
    background-color: #111;
}

.headline_wrapper{
    margin: 5px;
}
